*
  box-sizing: border-box

@font-face
  font-family: "Banny"
  src: url(../fonts/Banny-BoldRound.eot?) format("eot"), url(../fonts/Banny-BoldRound.woff) format("woff"), url(../fonts/Banny-BoldRound.ttf) format("truetype")
  font-weight: bold
